---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout
  title="Posiciona el teu negoci sense perdre el teu estil"
  description="SEO estratègic per a dones emprenedores."
>
   <div class="min-h-screen flex items-center justify-center">
    <div class="text-center">
      <p class="section-tag mb-4 text-coral">SEO estratègic per a dones emprenedores ✅</p>
      <h1 class="section-title text-offwhite">
        SEO amb <em class="text-coral italic">Talons</em>
      </h1>
      <p class="text-sand mt-4 font-light">Contacta amb nosaltres al 615 084 681</p>
    </div>
  </div>
</BaseLayout>