---
import "@fontsource/roboto-flex";

export interface Props {
  href?: string;
  first?: string;
  last?: string;
  class?: string;
}

const { href = '/', first = 'Laia', last = 'Xarau', class: className = '' } = Astro.props;
---

<a href={href} class={className}>
  <div class="border-2 border-blue-600 inline-flex items-center w-max text-2xl uppercase p-2 m-2 gap-2 tracking-widest">
    <div class="px-3 py-2 text-white bg-blue-600 font-medium tracking-widest font-roboto">
      {first}
    </div>
    <div class="px-2 py-2 text-blue-600 font-roboto font-black">{last}</div>
  </div>
</a>
