---
import SEOHead from "../components/seo/SEOHead.astro";
import Nav from "./components/Nav.astro";
import CookieBanner from "./components/CookieBanner.astro";
import "../styles/global.css";
import Footer from "./components/Footer.astro";
import { siteConfig } from "../config/site";

interface Props {
  title?: string;
  description?: string;
  canonical?: string;
  ogImage?: string;
}

const {
  title = siteConfig.title,
  description = siteConfig.description,
  canonical,
  ogImage = siteConfig.ogImage,
} = Astro.props;
---

<!doctype html>
<html lang="ca">
  <head>
    <SEOHead
      title={title}
      description={description}
      canonical={canonical}
      ogImage={ogImage}
    />
  </head>
  <body class="bg-black text-offwhite font-body antialiased">
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-WJSWGBS7"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
    <Nav />
    <main>
      <slot />
    </main>
    <Footer />
    <CookieBanner />
    <!-- Botó flotant cookies -->
    <!-- <button
  onclick="window.dispatchEvent(new CustomEvent('open-cookies'))"
  class="fixed bottom-6 left-6 z-40 bg-dark-sand border border-white/10
         text-sand text-xs uppercase tracking-widest px-4 py-2.5
         hover:border-coral hover:text-coral transition-colors duration-200"
  aria-label="Gestionar cookies"
>
  🍪
</button> -->
  </body>
</html>
